<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
                <i class="ion-record" ng-style="xmppStyle"></i>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="sideMenu">
        <!--<ion-header-bar class="bar-stable" style="height: auto">-->
        <!--<img src="../img/logo-yellow.png" alt=""/>-->
        <!--</ion-header-bar>-->
        <ion-content>
            <div class="sideMenu">
                <div class="text-center">
                    <img class="sideMenu-header-img" src="img/logo-yellow.png">

                    <h1>AmarTaxi</h1>
                </div>

                <ion-list class="sideMenu">
                    <div class="list">
                        <a menu-close class="item item-icon-left list-item" ng-click="goToHome()">
                            <img src="img/menu/contact.png" alt="">
                            Home
                        </a>
                        <a menu-close class="item item-icon-left list-item" ng-click="">
                            <!--<img src="img/icon/taxiempty.png" alt="">-->
                            <img src="img/icon/taxiempty.png" alt="">
                            Current Booking
                        </a>
                        <a menu-close class="item item-icon-left list-item" ui-sref="driver_app.settings">
                            <img src="img/menu/settings.png" alt="">
                            <!--<i class="icon ion-gear-b"></i>-->
                            {{'Settings' | translate}}
                        </a>
                        <a menu-close class="item item-icon-left" href="#" ng-click="goToRideHistory()">
                            <img src="img/menu/ride.png" alt="">
                            <!--<i class="icon ion-navicon"></i>-->
                            {{'Ride    History' | translate}}
                        </a>
                        <a menu-close class="item item-icon-left" ui-sref="driver_app.contactsupport">
                            <img src="img/menu/contact.png" alt="">
                            <!--<i class="icon ion-iphone"></i>-->
                            {{'Contact Support' | translate}}
                        </a>
                        <a menu-close class="item item-icon-left" ng-click="logout()">
                            <img src="img/menu/logout.png" alt="">
                            <!--<i class="icon ion-arrow-return-left"></i>-->
                            {{'Logout' | translate}}
                        </a>
                    </div>
                </ion-list>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
