<ion-view view-title="Login">
  <ion-content style="background-color: #FFC700;">
    <div class="container passenger_login">
      <div class="text-center">
        <img src="img/trans-logo.png">
        <h1>AmarTaxi</h1>

        <h4>Passenger Login</h4>
      </div>

      <div class="padding passenger_login-button">

        <label class="item item-input passenger_login-button-name">
          <!--<img class="passenger_login-button-img" src="img/icon/username.png" alt="">-->
          <input type="text" class="form-control text-center" placeholder="{{'Mobile' | translate}}" ng-model="passenger.mobile">
        </label>
        </label>
        <label class="item item-input passenger_login-button-name">
          <!--<img class="passenger_login-button-img" src="img/icon/password.png" alt="">-->
          <input type="password" class="form-control text-center" placeholder="{{'Password' |translate}}" ng-model="passenger.password">
        </label>
        <div class="submit">
          <button type="button" class="button button-block  button-dark " ng-click="passengerLogin(passenger)">{{'Login' | translate}}</button>
        </div>
        <div class="row">
          <div class="col">
            <a class="pull-right" ui-sref="passenger_register">{{'Register' | translate}}</a>
          </div>
          <div class="col"><a class="pull-right">{{'Forgot Password' | translate}}</a></div>
        </div>
        <div class="row">
          <div class="col"><a ui-sref="driver_login">{{'Are you a driver?' | translate}}</a></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
