<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-stable bar-mybar">
            <ion-nav-back-button  ng-click="myBack()">
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
                <i class="ion-record" ng-style="xmppStyle"></i>
            </ion-nav-buttons>
        </ion-nav-bar>
        <img ng-show="isActiveMapInteraction.pickup || isActiveMapInteraction.destination"  src="img/icon/passenger.png"  ng-style="fixed_icon">
<!--<map class="passenger-map" zoom="18" center="{{map.center.latitude}},{{map.center.longitude}}" on-center-changed="centerChanged()" >-->
   <map class="passenger-map" zoom="15" center="{{map.center.latitude}},{{map.center.longitude}}" on-center-changed="centerChanged()" >
            <marker ng-show="isActiveMapInteraction.showMarker" position="{{map.center.latitude}},{{map.center.longitude}}"  draggable="false" title="Click to zoom" draggable="true" on-position-changed="markerPostitionChanged()" icon="img/icon/passenger.png" ></marker>
            <marker ng-repeat="pos in params.driverPositions" position="{{pos.lat}}, {{pos.lng}}" icon="img/icon/taxiempty.png"></marker>
            <!--<marker position="{{map.center.latitude}},{{map.center.longitude}}" on-position-changed="markerPostitionChanged()" on-click="click()" draggable="false" title="Click to zoom"></marker>-->
            <directions ng-if="params.directionStatus == 'find'"
                        icon="img/icon/passenger.png"
                    draggable="false"
                    panel="directions-panel"
                    travel-mode="{{travelMode}}"
                    origin="{{params.selectedPickUpPoint.latitude+','+params.selectedPickUpPoint.longitude}}"
                    destination="{{ params.selectedDestinationPoint.latitude+','+params.selectedDestinationPoint.longitude}}">
            </directions>

            <directions ng-if="params.directionStatus == 'track'"
                    draggable="false"
                    panel="directions-panel"
                    travel-mode="{{travelMode}}"
                    origin="{{params.driverLocationPoint.latitude+','+params.driverLocationPoint.longitude}}"
                    destination="{{params.selectedPickUpPoint.latitude+','+params.selectedPickUpPoint.longitude}}">
            </directions>
            <directions ng-if="params.directionStatus == 'destination'"
                    draggable="false"
                    panel="directions-panel"
                    travel-mode="{{travelMode}}"
                    origin="{{params.driverLocationPoint.latitude+','+params.driverLocationPoint.longitude}}"
                    destination="{{ params.selectedDestinationPoint.latitude+','+params.selectedDestinationPoint.longitude}}">
            </directions>
        </map>

        <ion-nav-view name="menuContent" >
        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="sideMenu">
        <ion-content>
            <div class="sideMenu">
                <div class="text-center">
                    <img class="sideMenu-header-img" src="img/logo-yellow.png">
                    <h1>AmarTaxi</h1>
                </div>
                <ion-list class="sideMenu">
                    <div class="list">
                        <a menu-close class="item item-icon-left " ng-click="goToHome()">
                            <img src="img/menu/contact.png" alt="">
                            Home
                        </a>
                        <a class="item item-icon-left " ng-click="openPassengerCurrentBookingModal()">
                            <img src="img/menu/contact.png" alt="">
                            <!--<img src="img/icon/taxiempty.png" alt="">-->
                            Current Booking
                        </a>
                        <a class="item item-icon-left " ng-click="openSettingModal()">
                            <img src="img/menu/settings.png" alt="">
                            <!--<i class="icon ion-gear-b"></i>-->
                            {{'Settings' | translate}}
                        </a>
                        <a class="item item-icon-left"  ng-click="openPassengerRidingHistoryModal()">
                            <img src="img/menu/ride.png" alt="">
                            <!--<i class="icon ion-navicon"></i>-->
                            {{'Ride History' | translate}}
                        </a>
                        <a class="item item-icon-left" ng-click="openContactSupportModal()">
                            <img src="img/menu/contact.png" alt="">
                            <!--<i class="icon ion-iphone"></i>-->
                            {{'Contact Support' | translate}}
                        </a>
                        <a menu-close class="item item-icon-left" ng-click="logout()">
                            <img src="img/menu/logout.png" alt="">
                            <!--<i class="icon ion-arrow-return-left"></i>-->
                            {{'Logout' | translate}}
                        </a>
                    </div>
                </ion-list>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
