<ion-modal-view ng-controller="SettingsController" class="my-modal">
    <ion-header-bar>
        <h1 class="title">Setting</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeSettingModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>

            <div class="button-bar setting-bar">
                <a class="button" ng-click="show()">
                    <i class="ion-chevron-right icon-right"></i>{{'Language' | translate}}
                        <span>{{currentLang}}
                        </span>
                </a>
            </div>



        <div class="button-bar setting-bar">
            <a class="button" >
            <!--<a class="button" ui-sref="app.profile">-->
                <i class="ion-chevron-right icon-right"></i>{{'Edit Profile' | translate}}
            </a>
        </div>


            <div class="button-bar setting-bar">
                <a class="button" >
                <!--<a class="button" ui-sref="app.password">-->
                    <i class="ion-chevron-right icon-right"></i>{{'Edit Password' | translate}}
                </a>
            </div>
       </ion-content>
    <ion-footer-bar>
        <button class="button button-stable pull-right" ng-click="doSettingModal()">Select</button>
    </ion-footer-bar>
</ion-modal-view>