<ion-view class="my-modal">
    <ion-header-bar class="bar-stable">
        <h1 class="title">My Camera</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list card">
            <div class="item item-image">
                <img  ng-src="{{pictureUrl}}">
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-calm" ng-click="takePicture()">
                Take picture
            </button>
        </div>
     </ion-content>
</ion-view>