<ion-view view-title="Settings">
    <ion-content style="background-color: #444444">
        <div class="container settings">
            <div class="submit">
                <a class="button button-block icon-right ion-chevron-right button-calm button-profile" ui-sref="app.profile">
                    <h4 class="settings-button-profile">{{'Edit Profile' | translate}}</h4>
                </a><br>
                <a class="button button-block icon-right ion-chevron-right button-calm button-language" ng-click="show()">
                    <h4 class="settings-button-language">{{'Language' | translate}}
                        <span>{{currentLang}}
                        </span></h4>
                </a><br>
                <a class="button button-block icon-right ion-chevron-right button-calm button-password" ui-sref="app.password">
                    <h4 class="settings-button-password">{{'Edit Password' | translate}}</h4>
                </a>
            </div>
            <!--<li><button class="btn-language-bn"  ng-click="changeLanguage('bn_BN')" translate="BUTTON_LANG_BN"></button></li>-->
            <!--<li><button class="btn-language-en" ng-click="changeLanguage('en_EN')" translate="BUTTON_LANG_EN" ></button></li>-->
        </div>
    </ion-content>
</ion-view>
