ul.rating{
  padding: 0px 10px;
    /*margin:  0 auto;*/
}
ul.rating li {
  display: inline;
  border: 1px;
  background: none;
  padding: 0px 2px;

}
ul.rating li i {
  font-size: 30px;
    /*color: #ffe700;*/
}