<ion-modal-view class="my-modal" ng-controller="PassengerCurrentBookingController">
    <ion-header-bar>
        <h1 class="title">Contact Support</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePassengerCurrentBookingModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row" ng-if="!current_booking">
            <h3>There are no current booking</h3>

        </div>
        <div
                round-progress
                max=progressData.max
                current=progressData.current
                color="#45ccce"
                bgcolor="#eaeaea"
                radius="100"
                stroke="20"
                semi="false"
                rounded="true"
                clockwise="true"
                responsive="false"
                duration="1000"
                animation="linearEase"></div>
        <span>{{progressData.current}} / {{progressData.max}} sec.</span>
        <div class="" ng-if="current_booking">
            <h3>You have a current booking</h3>


                <label class="item item-input">
                    <span class="input-label">Pickup Point</span>
                    {{current_booking.pickup_point_name}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Destination Point</span>
                    {{current_booking.destination_point_name}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Ride Type</span>
                    {{current_booking.ride_type}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Passenger Note</span>
                    <p>{{current_booking.passenger_note}}</p>
                </label>

                <label class="item item-input">
                    <span class="input-label">Driver name</span>
                    {{current_booking.driver.name}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Rating</span>
                    <!--<span ng-show="current_booking.rating" class="input-label">{{current_booking.rating}}</span>-->
                    <rating ng-show="current_booking.rating" ng-model="current_booking.rating" max=5 readonly=true  on-leave="overStar = null"></rating>
                    <span ng-show="!current_booking.rating" class="input-label">Not set!</span>

                    <span ng-if="!current_booking.rating">
                        <button class="button button-small button-balanced" ng-click="rateDriver()">
                            Rate Driver
                        </button>
                    </span>
                </label>
                <div ng-if="!current_booking.is_active">
                    <label class="item item-input">
                        <span class="input-label">Status</span>
                        <span ng-show="current_booking.is_cancelled" class="assertive">Ride cancel by {{current_booking.cancelBy}}</span>
                        <span ng-show="current_booking.is_complete" class="calm">Ride complete by {{current_booking.completeBy}}</span>
                    </label>

                </div>

                <div ng-if="current_booking.is_active">
                    <label class="item item-input">
                        <span class="input-label">Status</span>
                        Active
                    </label>
                    <label class="item item-input">
                        <span class="input-label"></span>
                    <span ng-if="!current_booking.is_cancelled">
                        <button class="button button-small button-assertive" ng-click="cancelRide()">
                            Cancel my ride
                        </button>
                    </span>
                    </label>
                    <label class="item item-input">
                        <span class="input-label"></span>
                    <span ng-if="!current_booking.is_complete">
                        <button class="button button-small button-calm" ng-click="completeRide()">
                            Complete my ride
                        </button>
                    </span>
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <button class="button button-stable pull-right" ng-click="doPassengerCurrentBookingModal()">Select</button>
    </ion-footer-bar>
</ion-modal-view>