<label class="item-input pickup-label">Ride type</label>
<section class="row">
<div class="col"><button class="button button-dark car1" ng-click="rideSelect('yellow')"><img class="car1-img car1-img1" src="img/yellow-cab.png" alt=""/></button></div>
<div class="col"><button class="button button-light car1" ng-click="rideSelect('black')"><img class="car1-img" src="img/black-cab.png" alt=""/></button></div>
<div class="col"><button class="button button-light car1" ng-click="rideSelect('cng')"><img class="car1-img" src="img/tuk-tuk1.png" alt=""/></button></div>
</section>
{{params.rideType}}
{{carData}}