<ion-view view-title="AmarTaxi">
    <ion-content class="content-overflow" >
        <!--<div class="container passenger_find_driver">-->
        <!--<div class="text-center">-->
        <!--<map zoom="18" center="23.792496, 90.407806">-->
        <!--<directions-->
        <!--draggable="true"-->
        <!--panel="directions-panel"-->
        <!--travel-mode="{{travelMode}}"-->
        <!--origin="{{from}}"-->
        <!--destination="{{to}}">-->
        <!--</directions>-->
        <!--<marker ng-hide="driverNo!=0" ng-repeat="mar in markers" position="{{mar}}"></marker>-->
        <!--</map>-->
        <!--</div>-->
        <!--<div class="block">-->
        <!--<p class="block-1">{{fromName}} to<br>{{toName}}</p>-->
        <!--<p class="block-2">-->
        <!--<span class="span-top">7.6 KM BDT400-450</span><br>-->
        <!--<span class="span-bottom">{{driverNo}} Drivers Nearby</span>-->
        <!--</p>-->
        <!--</div>-->
        <!--<div class="input-block">-->
        <!--<div><input class="block-two-top" type="text" placeholder="Note to driver such as...." ng-model="note.note"></div>-->
        <!--<div><input class="block-two-bottom" type="text" placeholder="Discount Code" ng-model="note.discount"></div>-->
        <!--</div>-->
        <!--<div class="padding passenger_login-button ">-->
        <!--<button class="button button-block button-dark driver_home-button" ng-click="sendMessage()">-->
        <!--{{'Find Drivers' | translate}}-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
        <h1>{{mysdd}}</h1>
    </ion-content>
</ion-view>
