<ion-modal-view class="my-modal">
    <ion-header-bar>
        <h1 class="title">{{showhide.title}}</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeDestinationModal()">Close</button>
        </div>
    </ion-header-bar>

    <!--<ion-header-bar class="bar bar-subheader">-->
        <!--<h1 class="title">Subheader</h1>-->
    <!--</ion-header-bar>-->
    <!--Favourite-->
    <ion-content ng-show="showhide.favourite">
        <ion-list>
        </ion-list>
    </ion-content>

    <ion-content ng-show="showhide.foursquare">
        <div class="list">
            <div class="item item-input item-select">
                <div class="input-label">
                    Zone
                </div>
                <select name="repeatSelect" id="repeatSelect" ng-model="repeatSelect" ng-change="loadFSData(repeatSelect)">
                    <option ng-repeat="option in FourSquareZone" value="{{option}}">{{option.nameEn}}</option>
                </select>
            </div>
        </div>
        <ion-list>
            <ion-radio ng-repeat="fsq in fourSquare"
                       ng-value="fsq"
                       ng-model="showhide.data">
                <i class="icon ion-ios-heart"></i>&nbsp;&nbsp;{{fsq.name}}<span>{{fsq.location.distance/1000 | number:2}} km</span>
            </ion-radio>
        </ion-list>
    </ion-content>


    <!--Google-->
    <ion-content ng-show="showhide.google">
        <div class="list">
            <div class="item item-input item-select">
                <div class="input-label">
                    Zone
                </div>
                <select name="repeatGoogle" id="repeatGoogle" ng-model="repeatGoogle" ng-change="loadGoogleData(repeatGoogle)">
                    <option ng-repeat="option in FourSquareZone" value="{{option}}">{{option.nameEn}}</option>
                </select>
            </div>
        </div>
        <ion-list>
            <ion-radio ng-repeat="loc in googleNearByLocations"
                       ng-value="loc"
                       ng-model="showhide.data">
                <i class="icon ion-ios-heart"></i>&nbsp;&nbsp;&nbsp;{{loc.formatted_address}}<span>{{loc | distance:$root.myCurrentLocation.lat:$root.myCurrentLocation.lng:loc.geometry.location.lat():loc.geometry.location.lng()}} KM</span>
            </ion-radio>
        </ion-list>
    </ion-content>

    <!--Our Location-->
    <ion-content ng-show="showhide.places">
        <div class="row">
            <label class="item item-input  passenger_pickup_point-button-search">
                <i class="icon ion-search placeholder-icon pickup-point-icon"></i>
                <input type="text" class="form-control" placeholder="Search &amp; Select Location"
                       ng-model="searchLoc" ng-change="searchValue(searchLoc, locDropDown)">
            </label>
            <label class="item item-input item-select" style="width: 100%">
                <select ng-model="locDropDown" ng-change="searchValue(searchLoc, locDropDown)">
                    <option value="all">All</option>
                    <option value="education">Education</option>
                    <option value="police">Police Station</option>
                    <option value="hospital">Hospital</option>
                    <option value="important">Important Locations</option>
                </select>
            </label>
        </div>
        <ion-list>
            <ion-radio ng-repeat="loc in ourlocation"
                       ng-value="loc"
                       ng-model="showhide.data">
                <i class="icon ion-ios-heart"></i>&nbsp;&nbsp;&nbsp;{{loc.nameBn}}<span>{{loc | distance:$root.myCurrentLocation.lat:$root.myCurrentLocation.lng:loc.latitude:loc.longitude}} KM</span>
            </ion-radio>
        </ion-list>
    </ion-content>


    <!--Google auto-complete-->
    <ion-content  ng-show="showhide.searchmap">
        <label class="item item-input passenger_pickup_point-button-search">
            <input type="text" class="form-control" placeholder="Location" places-auto-complete size=80
                   ng-model="address"
                   xxx-component-restrictions="{country:'bd'}"
                   types="{{types}}"
                   on-place-changed="placeChanged(place)">

        </label>
    </ion-content>

    <ion-footer-bar>
        <button class="button button-stable pull-right" ng-click="doDestinationModal()">Select</button>
    </ion-footer-bar>
</ion-modal-view>