<ion-view view-title="Home">
    <ion-content class="content-overflow" style="background-color: #242424; ">
        <div class=" passenger_home">
            <input type="text" ng-hide="true" ng-model="map.center"/>

            <div class="">
                <!--<button class="button button-full" href=""><img class="geolocation pull-right" src="img/geolocation.png" ng-click="getMyParentPosition()"> Go to my location</button>-->

                <label class="item-input pickup-label"><h3>Selete Ride Type</h3></label>
                <label class=" item-input pickup-point" ui-sref="app.passenger_ride_type">


                    <!--<i class="icon ion-search placeholder-icon pull-right pickup-point-icon"></i>-->
                    <!--<span style="color: white">{{params.rideType}}</span>-->
                   <button class="button button-dark car1">
                       <span ng-if="params.rideType == 'yellow'"><img  class="car1-img1" src="img/yellow-cab.png" alt=""/></span>
                       <span ng-if="params.rideType == 'black'"><img  class="car1-img1" src="img/black-cab.png" alt=""/></span>
                       <span ng-if="params.rideType == 'cng'"><img  class="car1-img1" src="img/tuk-tuk1.png" alt=""/></span>
                   </button>
                    <button class="button button-dark car1">
                       <span ng-if="params.rideType == 'yellow'">Yellow Cab</span>
                       <span ng-if="params.rideType == 'black'">Black Cab</span>
                       <span ng-if="params.rideType == 'cng'">CNG</span>
                   </button>
                    <button class="button  button-small button-pull-right button-light-green ">
                    CHANGE
                   </button>

                    <!--<button class="button button-clear placeholder-icon button-pull-right pickup-point-icon">Change</button>-->

                </label>

                <label class=" item-input pickup-label"><h3>Select Pickup Point</h3></label>

                <label class=" item-input pickup-point" ng-click="goToPickupPoint()" >
                    <button class="button button-dark car1">
                    <span style="color: white">{{pickuppoint}}</span>
                        </button>
                    <i class="icon ion-chevron-right placeholder-icon icon-pull-right pickup-point-icon"></i>

                </label>
                <label class=" item-input pickup-label"><h3>Select Destination Point</h3></label>

                <label class=" item-input pickup-point"  ng-click="goToDestinationPoint()">
                    <button class="button button-dark car1">
                        <span style="color: white">{{destinationpoint}}</span>
                        </button>
                    <i class="icon ion-chevron-right placeholder-icon icon-pull-right pickup-point-icon"></i>
                </label>

                <div class="pickup-point-next-div">
                    <button class="button button-full button-positive pickup-point-next" ng-click="goNext()">{{'Next' | translate}}
                    </button>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
