<ion-view view-title="Passenger Contacting Driver">
    <ion-content class="content-overflow"  style="background-color: #333">
        <ion-refresher>
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="container passenger_driver_responded">
            <div class="text-center"><a ui-sref="#"></a>{{'Click to confirm Driver' | translate}}</div>

            <div class="passenger_pickup_point-button-list">
                <!-- <button id = "{{driver.jid}}" ng-repeat="driver in allDrivers"  ui-sref="app.passenger_track_driver" class ="button button-block button-dark passenger_pickup_point-button-list-2"> -->
                <button id = "{{driver.jid}}" ng-repeat="driver in allDrivers"   class ="button button-block button-dark passenger_pickup_point-button-list-2">

                    <ion-spinner icon="crescent" ng-show="passengerLoader"></ion-spinner>
                    <i   class="icon ion-ios-loop" ng-hide="passengerLoader"></i>&nbsp;&nbsp;&nbsp;{{driver.name}} ( {{driver.car_type}} )  <span>{{driver | distance:$root.currentBookingObject.pickup_point_lat:$root.currentBookingObject.pickup_point_long:driver.current_lat:driver.current_long}}Km</span>

                </button>






                <button class="button button-block button-assertive driver_home-button" ng-click="cancelRide('form_find_driver')">
                    Cancel
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
