<ion-view view-title="Drivers Responded">
    <ion-content class="content-overflow" style="background-color: #333">
        <div class="container passenger_driver_responded">


            <div class="text-center"><a ui-sref="#"></a>{{"Click to confirm Driver" | translate}}</div>

            <div class="passenger_pickup_point-button-list">
                <button class="button button-block button-dark passenger_pickup_point-button-list-2">
                    <ion-spinner icon="crescent" ng-show="loader"></ion-spinner>
                    <i class="icon ion-ios-loop" ng-hide="loader"></i>&nbsp;&nbsp;&nbsp;Dhaka MetroGa 12-2131<span>0.4 Km</span>
                </button>
                <button class="button button-block button-dark passenger_pickup_point-button-list-2">
                    <ion-spinner icon="crescent" ng-show="loader"></ion-spinner>
                    <i class="icon ion-ios-loop" ng-hide="loader"></i>&nbsp;&nbsp;&nbsp;Dhaka MetroGa 12-2131<span>0.4 Km</span>
                </button>
                <button class="button button-block button-dark passenger_pickup_point-button-list-2">
                    <ion-spinner icon="crescent" ng-show="loader"></ion-spinner>
                    <i class="icon ion-ios-loop" ng-hide="loader"></i>&nbsp;&nbsp;&nbsp;Dhaka MetroGa 12-2131<span>0.4 Km</span>
                </button>
                <button class="button button-block button-dark passenger_pickup_point-button-list-2">
                    <ion-spinner icon="crescent" ng-show="loader"></ion-spinner>
                    <i class="icon ion-ios-loop" ng-hide="loader"></i>&nbsp;&nbsp;&nbsp;Dhaka MetroGa 12-2131<span>0.4 Km</span>
                </button>
                <button class="button button-block button-dark passenger_pickup_point-button-list-2">
                    <ion-spinner icon="crescent" ng-show="loader"></ion-spinner>
                    <i class="icon ion-ios-loop" ng-hide="loader"></i>&nbsp;&nbsp;&nbsp;Dhaka MetroGa 12-2131<span>0.4 Km</span>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
