<ion-view view-title="Select Destination Point">
    <ion-content class="content-overflow"  style="background-color: #3F3F3B">
        <div class="container passenger_pickup_point">
            <label class="item-input">Pickup Name: {{params.selectedPickUpPoint.locname}}</label>
            <label class="item-input">Desination Name: {{params.selectedDestinationPoint.locname}}</label>
            <div class="button-bar row">
                <a class="button" ng-click="favClicked()"><i class="icon ion-bookmark"></i></a>
                <a class="button" ng-click="placesClicked()"><i class="icon ion-ios-heart"></i></a>
                <a class="button" ng-click="googleClicked()"><i class="icon ion-social-google-outline"></i></a>
                <a class="button" ng-click="fsClicked()"><i class="icon ion-social-foursquare"></i></a>
                <a class="button" ng-click="smClicked()"><i class="icon ion-ios-location"></i></a>
            </div>
            <div class="button-bar row">
                <a class="button" ng-click="goToPickup()"><i class="ion-chevron-left icon-left"></i>Pickup Point</a>
                <a class="button" ng-click="findDriver()"><i class="ion-chevron-right icon-right"></i>Find Driver</a>
            </div>
        </div>
    </ion-content>
</ion-view>
