<ion-view view-title="Passenger Registration">
    <ion-content>

        <div class="container">
            <div class="passenger_register-header"></div>
            <h3 class="text-center">{{'Passenger Registration' | translate}}</h3>

            <div class="padding passenger_register-button">
                <label class="item item-input">
                    <input type="text" name="name" class="form-control text-center" placeholder="{{'Name' | translate}}"
                           ng-model="passenger.name" required>

                    <p ng-show="passengerRegister.name.$invalid && !passengerRegister.name.$pristine"
                       class="help-block">You name is required.</p>
                </label><label class="item item-input ">
                <input type="text" class="form-control text-center" placeholder="{{'Mobile' | translate}}"
                       ng-model="passenger.mobile">
            </label><label class="item item-input ">
                <input type="email" name="email" class="form-control text-center" placeholder="{{'Email' | translate}}"
                       ng-model="passenger.email" required>

                <p ng-show="passengerRegister.email.$invalid && !passengerRegister.email.$pristine" class="help-block">
                    Enter a valid email.</p>
            </label>
                <label class="item item-input ">
                    <input type="password" class="form-control text-center" placeholder="{{'Password' | translate}}"
                           ng-model="passenger.password" required>
                </label>
                <label class="item item-input ">
                    <input type="password" class="form-control text-center"
                           placeholder="{{'Confirm Password' | translate}}" ng-model="passenger.confirmPassword"
                           required>
                </label>

                <div class="submit">
                    <button type="submit" class="button button-block button-dark passenger_register-button-login"
                            ng-click="passengerRegister(passenger)">{{'Register' | translate}}
                    </button>
                </div>
                </form>
            </div>
            <div class="row">
                <div class="col"><a ui-sref="passenger_login">I'm already a passenger.</a></div>
            </div>
        </div>
    </ion-content>
</ion-view>
