<ion-view view-title="Track Driver">
    <ion-content class="content-overflow"  >
        <div class="container passenger_track_driver">

            <div class="padding passenger_login-button ">
                <a href="tel:{{phone_number}}" class="button button-block button-balanced" >
                    {{'Call Driver' | translate}}
                </a>
                <!--<button class="button button-block button-positive" ng-click="sendSMS()">-->
                    <!--{{'Send SMS To Driver' | translate}}-->
                <!--</button>-->

                <button class="button button-block button-positive" ng-click="reachDestination()">
                    reach destination
                </button>
                <button class="button button-block button-assertive" ng-click="cancelBooking()">
                    {{'Cancel' | translate}}
                </button>

            </div>
        </div>
    </ion-content>
</ion-view>
