<ion-view view-title="AmarTaxi">
    <ion-content class="content-overflow" >
        <div class="container passenger_find_driver">
            <div class="block">
                <p class="block-1">{{fromName}} to<br>{{toName}}</p>
                <p class="block-2">
                    <span class="span-top">
                    {{(distance  | distance:$root.params.selectedPickUpPoint.latitude:$root.params.selectedPickUpPoint.longitude:$root.params.selectedDestinationPoint.latitude:$root.params.selectedDestinationPoint.longitude) }} KM BDT
                    {{(distance  | distance:$root.params.selectedPickUpPoint.latitude:$root.params.selectedPickUpPoint.longitude:$root.params.selectedDestinationPoint.latitude:$root.params.selectedDestinationPoint.longitude )*30 | number : 0}} -
                    {{(distance  | distance:$root.params.selectedPickUpPoint.latitude:$root.params.selectedPickUpPoint.longitude:$root.params.selectedDestinationPoint.latitude:$root.params.selectedDestinationPoint.longitude )*35 | number : 0}}
                    </span><br>
                    <span class="span-bottom">{{driverNo}} Drivers Nearby</span>
                </p>
            </div>
            <div class="input-block">
                <div class="row">
                    <div class="col "><label class="">Passenger Note</label><input class="block-two-top" type="text" placeholder="Note to driver such as...." ng-model="note.note"></div>
                </div>
                <div class="row">
                    <!--<div class="col col-67"><input class="block-two-bottom" type="text" placeholder="Discount Code" ng-model="note.discount"></div>-->
                    <!--<div class="col col-33">-->
                        <button class="button button-full button-positive" ng-click="sendMessage()">{{'Find Drivers' | translate}}</button>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
