<!--<ion-view view-title="Ride History">-->
    <!--<ion-content class="content-overflow"  style="background-color: #333">-->
        <!--<div class="container passenger_driver_responded">-->


            <!--<div class="text-center">Riding List</div>-->

            <!--<div class="passenger_pickup_point-button-list">-->

                 <!--<button ng-repeat="ride in rides" class="button button-block button-dark passenger_pickup_point-button-list-2" ui-sref="app.passenger_riding_details({booking_id: ride.id})">-->
                    <!--&lt;!&ndash;<ion-spinner icon="crescent" ng-show="loader"></ion-spinner>&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="icon ion-ios-loop" ng-hide="loader"></i>&ndash;&gt;-->
                    <!--&nbsp;&nbsp;&nbsp;{{ride.pickup_point_name}} to {{ride.destination_point_name}}<span>0.4 Km</span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</ion-content>-->
<!--</ion-view>-->

<ion-modal-view class="my-modal">
    <ion-header-bar>
        <h1 class="title">Riding List</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePassengerRidingHistoryModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="ride in rides" ng-click="openPassengerRidingDetailsModal(ride.id)">
                &nbsp;&nbsp;&nbsp;{{ride.pickup_point_name}} to {{ride.destination_point_name}}<span>0.4 Km</span>            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar>
        <button class="button button-stable pull-right" ng-click="doPassengerRidingHistoryModal()">Back</button>
    </ion-footer-bar>
</ion-modal-view>