<!--<ion-view view-title="Ride Details">-->
    <!--<ion-content class="content-overflow" >-->
        <!--<div class="list card">-->

            <!--<div class="item item-avatar">-->
                <!--<img src="mcfly.jpg">-->
                <!--<h2>Marty McFly</h2>-->
                <!--<p>November 05, 1955</p>-->
            <!--</div>-->

            <!--<div class="item item-body">-->
                <!--<img class="full-image" src="delorean.jpg">-->

                <!--<label class="item item-input">-->
                    <!--<span class="input-label">Pickup Point</span>-->
                    <!--{{booking.pickup_point_name}}-->
                <!--</label>-->
                <!--<label class="item item-input">-->
                    <!--<span class="input-label">Destination Point</span>-->
                    <!--{{booking.destination_point_name}}-->
                <!--</label>-->
                <!--<label class="item item-input">-->
                    <!--<span class="input-label">Ride Type</span>-->
                    <!--{{booking.ride_type}}-->
                <!--</label>-->
                <!--<label class="item item-input">-->
                    <!--<span class="input-label">Passenger Note</span>-->
                    <!--<p>{{booking.passenger_note}}</p>-->
                <!--</label>-->

                <!--<label class="item item-input">-->
                    <!--<span class="input-label">Driver name</span>-->
                    <!--{{booking.driver.name}}-->
                <!--</label>-->
                <!--<label class="item item-input">-->
                    <!--<span class="input-label">Rating</span>-->
                    <!--&lt;!&ndash;<span ng-show="booking.rating" class="input-label">{{booking.rating}}</span>&ndash;&gt;-->
                    <!--<rating ng-show="booking.rating" ng-model="booking.rating" max=5 readonly=true  on-leave="overStar = null"></rating>-->
                    <!--<span ng-show="!booking.rating" class="input-label">Not set!</span>-->

                    <!--<span ng-if="!booking.rating">-->
                        <!--<button class="button button-small button-balanced" ng-click="rateDriver()">-->
                            <!--Rate Driver-->
                        <!--</button>-->
                    <!--</span>-->
                <!--</label>-->
                <!--<div ng-if="!booking.is_active">-->
                    <!--<label class="item item-input">-->
                        <!--<span class="input-label">Status</span>-->
                        <!--<span ng-show="booking.is_cancelled" class="assertive">Ride cancel by {{booking.cancelBy}}</span>-->
                        <!--<span ng-show="booking.is_complete" class="calm">Ride complete by {{booking.completeBy}}</span>-->
                        <!--</label>-->

                <!--</div>-->

                <!--<div ng-if="booking.is_active">-->
                    <!--<label class="item item-input">-->
                        <!--<span class="input-label">Status</span>-->
                        <!--Active-->
                    <!--</label>-->
                    <!--<label class="item item-input">-->
                        <!--<span class="input-label"></span>-->
                    <!--<span ng-if="!booking.is_cancelled">-->
                        <!--<button class="button button-small button-assertive" ng-click="cancelRide()">-->
                            <!--Cancel my ride-->
                        <!--</button>-->
                    <!--</span>-->
                    <!--</label>-->
                    <!--<label class="item item-input">-->
                        <!--<span class="input-label"></span>-->
                    <!--<span ng-if="!booking.is_complete">-->
                        <!--<button class="button button-small button-calm" ng-click="completeRide()">-->
                            <!--Complete my ride-->
                        <!--</button>-->
                    <!--</span>-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div> </ion-content>-->
<!--</ion-view>-->

<ion-modal-view ng-controller="PassengerRidingDetailsController" class="my-modal">
    <ion-header-bar>
        <h1 class="title">Riding Details</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePassengerAllRidingModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content >

            <div class="item item-avatar">
                <img src="mcfly.jpg">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="delorean.jpg">

                <label class="item item-input">
                    <span class="input-label">Pickup Point</span>
                    {{booking.pickup_point_name}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Destination Point</span>
                    {{booking.destination_point_name}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Ride Type</span>
                    {{booking.ride_type}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Passenger Note</span>
                    <p>{{booking.passenger_note}}</p>
                </label>

                <label class="item item-input">
                    <span class="input-label">Driver name</span>
                    {{booking.driver.name}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Rating</span>
                    <!--<span ng-show="booking.rating" class="input-label">{{booking.rating}}</span>-->
                    <rating ng-show="booking.rating" ng-model="booking.rating" max=5 readonly=true  on-leave="overStar = null"></rating>
                    <span ng-show="!booking.rating" class="input-label">Not set!</span>

                    <span ng-if="!booking.rating">
                        <button class="button button-small button-balanced" ng-click="rateDriver()">
                            Rate Driver
                        </button>
                    </span>
                </label>
                <div ng-if="!booking.is_active">
                    <label class="item item-input">
                        <span class="input-label">Status</span>
                        <span ng-show="booking.is_cancelled" class="assertive">Ride cancel by {{booking.cancelBy}}</span>
                        <span ng-show="booking.is_complete" class="calm">Ride complete by {{booking.completeBy}}</span>
                    </label>

                </div>

                <div ng-if="booking.is_active">
                    <label class="item item-input">
                        <span class="input-label">Status</span>
                        Active
                    </label>
                    <label class="item item-input">
                        <span class="input-label"></span>
                    <span ng-if="!booking.is_cancelled">
                        <button class="button button-small button-assertive" ng-click="cancelRide()">
                            Cancel my ride
                        </button>
                    </span>
                    </label>
                    <label class="item item-input">
                        <span class="input-label"></span>
                    <span ng-if="!booking.is_complete">
                        <button class="button button-small button-calm" ng-click="completeRide()">
                            Complete my ride
                        </button>
                    </span>
                    </label>
                </div>
            </div>
    </ion-content>
    <ion-footer-bar>
        <button class="button button-stable pull-right" ng-click="doPassengerRidingDetailsModal()">Back</button>
    </ion-footer-bar>
</ion-modal-view>
