<ion-modal-view class="my-modal">
    <ion-header-bar>
        <h1 class="title">Contact Support</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeContactSupportModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="container contact-support">
            <div class="col-xs-8 col-sm-6 col-md-4 text-center">
                <h5>
                    Dhaka Office<br>
                    House 6, Road 33, Gulshan 1, Dhaka 1212<br>
                    info@zeteq.com<br>
                    +(880) 2882-9726<br>
                    +(880) 195-087-6899
                </h5>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <button class="button button-light-green pull-right" ng-click="doContactSupportModal()">Select</button>
    </ion-footer-bar>
</ion-modal-view>