<ion-view view-title="Profile">
    <ion-content>
        <div class="container edit-profile padding">
            <div class="edit-profile-wrapper">
                <div class="edit-profile-name">
                    <strong>{{'Name' | translate}}</strong>:<span editable-text="user.name" e-form="textBtnForm">
                        {{ user.name || 'empty' }}
                        <a href="#" class="edit">
                            <i class="icon ion-compose" ng-click="textBtnForm.$show()"
                               ng-hide="textBtnForm.$visible"></i>
                        </a>
                    </span>
                </div>
                <div class="edit-profile-mobile">
                    <strong>{{'Mobile' | translate}}</strong>:<span editable-text="user.mobile" e-form="textBtnMobile">
                        {{ user.mobile || 'empty' }}
                        <a href="#" class="edit">
                            <i class="icon ion-compose" ng-click="textBtnMobile.$show()"
                               ng-hide="textBtnMobile.$visible"></i>
                        </a>
                    </span>
                </div>
                <strong>{{'Email' | translate}}</strong>:<span editable-text="user.email" e-form="textBtnEmail">
                        {{ user.email || 'empty' }}
                        <a href="#" class="edit">
                            <i class="icon ion-compose" ng-click="textBtnEmail.$show()"
                               ng-hide="textBtnEmail.$visible"></i>
                        </a>
                    </span>
            </div>
            <button class="button button-block button-positive" ng-click="updateProfile()">
                Update
            </button>
            <!--<div class="edit-profile-password">-->
            <!--<strong>Password</strong>:<span editable-text="user.encryptedPassword" e-form="textBtnPassword">-->
            <!--{{ user.encryptedPassword || 'empty' }}-->
            <!--<a href="#" class="edit">-->
            <!--<i class="icon ion-compose" ng-click="textBtnPassword.$show()" ng-hide="textBtnPassword.$visible"></i>-->
            <!--</a>-->
            <!--</span>-->
            <!--</div>-->
        </div>
        </div>
    </ion-content>
</ion-view>
