<ion-view view-title="Message Received">
    <ion-content>
        <div class="container passenger_find_driver">
            <div class="text-center">
                <map zoom="14" center="37.7699298, -122.4469157">
                    <!--<directions-->
                            <!--draggable="true"-->
                            <!--panel="directions-panel"-->
                            <!--travel-mode="car"-->
                            <!--origin="{{$root.msgJson.pickup_point_lat}}, {{$root.msgJson.pickup_point_long}}"-->
                            <!--destination="{{$root.msgJson.destination_point_lat}}, {{$root.msgJson.destination_point_long}}">-->
                    <!--</directions>-->
                    <!--<marker ng-repeat="mar in markers" position="{{mar}}"></marker>-->

                    <directions
                            draggable="true"
                            panel="directions-panel"
                            travel-mode="{{travelMode}}"
                            origin="{{originCoord.lat}}, {{originCoord.long}}"
                            destination="{{destinationCoord.lat}},{{destinationCoord.long}}">
                    </directions>
                </map>
            </div>
            <div class="block">
                <p class="block-1">{{$root.msgJson.pickup_point_name}} to<br>{{$root.msgJson.destination_point_name}}</p>
                <p class="block-2">
                    <span class="span-top">7.6 KM BDT400-450</span><br>
                    <!--<span class="span-bottom">12 Drivers Nearby</span>-->
                </p>
            </div>
            <div class="input-block">
                <div><input class="driver-message-received-block-two-top" type="text" placeholder="This panel will show the notes from passenger or discount code information" value="coupon: {{$root.msgJson.discount}}" readonly></div>
                <div><input class="block-two-bottom" type="text" placeholder="Note to passenger..." value="Message: {{$root.msgJson.passenger_note}}" readonly></div>
            </div>
            <div class="padding passenger_login-button ">
                <!--<button class="button button-block button-positive driver_home-button" ui-sref="app.passenger_contancting_driver">-->
                    <!--{{'Confirm' | translate}}-->
                <!--</button>-->
                <!--<button class="button button-block button-positive driver_home-button">-->
                    <!--{{'Decline' | translate}}-->
                <!--</button>-->

                <button class="button button-block button-positive" ng-click="reachDestination()">
                    <!--{{'Decline' | translate}}-->
                    Reach destination
                </button>
                <button class="button button-block button-assertive" ng-click="cancelBooking()">
                    <!--{{'Decline' | translate}}-->
                    Cancel Ride
                </button>
            </div>
            <!-- <button class="button button-block button-positive" ng-click="sendMessage()">
                send test message
            </button> -->

        </div>
    </ion-content>
</ion-view>