<ion-view view-title="Driver Registration">
    <ion-content>
        <div class="container">
            <div class="passenger_register-header"></div>
            <h3 class="text-center">{{'Driver Registration' | translate}}</h3>
            <div class="padding passenger_register-button">
                <label class="item item-input passenger_register-button-name">
                    <input type="text" name="driverId" class="form-control text-center" placeholder="{{'Driver Id' | translate}}"
                           ng-model="driver.driverId" required />
                </label>
                <label class="item item-input item-select passenger_register-button-name">
                    <div class="input-label">
                        Car Type
                    </div>
                    <select ng-model="driver.car_type">
                        <option value="yellow">Yellow Cab</option>
                        <option value="black">Black Cab</option>
                        <option value="cng">CNG</option>
                    </select>
                </label>
                <label class="item item-input passenger_register-button-name">
                    <input type="text" name="name" class="form-control text-center" placeholder="{{'Name' | translate}}"
                           ng-model="driver.name" required />
                </label>
                <label class="item item-input passenger_register-button-mobile">
                    <input type="text" class="form-control text-center" placeholder="{{'Mobile' | translate}}"
                           ng-model="driver.mobile" />
                </label>
                <label class="item item-input passenger_register-button-email">
                    <input type="email" name="email" class="form-control text-center"
                           placeholder="{{'Email' | translate}}" ng-model="driver.email" required />
                </label>
                <label class="item item-input passenger_register-button-password">
                    <input type="password" class="form-control text-center" placeholder="{{'Password' | translate}}"
                           ng-model="driver.password" required />
                </label>
                <label class="item item-input passenger_register-button-password">
                    <input type="password" class="form-control text-center"
                           placeholder="{{'Confirm Password' | translate}}" ng-model="driver.confirmPassword" required />
                </label>

                <div class="submit">
                    <button type="submit" class="button button-block button-dark passenger_register-button-login"
                            ng-click="driverRegister(driver)">{{'Register' | translate}}
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col"><a ui-sref="driver_login">I'm already a driver.</a></div>
            </div>
        </div>
    </ion-content>
</ion-view>
