<ion-view view-title="Contacting Drivers">
    <ion-content style="background-color: #333">
        <div class="container driver_contact_passenger">

            <div class="passenger_pickup_point-button-list">
                <button class="button button-block button-dark passenger_pickup_point-button-list-2">
                    <ion-spinner icon="crescent" ng-show="loader"></ion-spinner>
                    <i class="icon ion-ios-loop" ng-hide="loader"></i>
                        &nbsp;&nbsp;&nbsp;Dhaka MetroGa 12-2131<span>0.4 Km</span>
                </button>
                <button class="button button-block button-dark passenger_pickup_point-button-list-2">
                    <ion-spinner icon="crescent" ng-show="loader"></ion-spinner>
                    <i class="icon ion-ios-loop" ng-hide="loader"></i>&nbsp;&nbsp;&nbsp;Dhaka MetroGa 12-2131<span>0.4 Km</span>
                </button>
                <button class="button button-block button-dark passenger_pickup_point-button-list-2">
                    <ion-spinner icon="crescent" ng-show="loader"></ion-spinner>
                    <i class="icon ion-ios-loop" ng-hide="loader"></i>&nbsp;&nbsp;&nbsp;Dhaka MetroGa 12-2131<span>0.4 Km</span>
                </button>
                <button class="button button-block button-dark passenger_pickup_point-button-list-2">
                    <ion-spinner icon="crescent" ng-show="loader"></ion-spinner>
                    <i class="icon ion-ios-loop" ng-hide="loader"></i>&nbsp;&nbsp;&nbsp;Dhaka MetroGa 12-2131<span>0.4 Km</span>
                </button>
                <button class="button button-block button-dark passenger_pickup_point-button-list-2">
                    <ion-spinner icon="crescent" ng-show="loader"></ion-spinner>
                    <i class="icon ion-ios-loop" ng-hide="loader"></i>&nbsp;&nbsp;&nbsp;Dhaka MetroGa 12-2131<span>0.4 Km</span>
                </button>
                <button class="button button-block button-dark passenger_pickup_point-button-list-2">
                    <ion-spinner icon="crescent" ng-show="loader"></ion-spinner>
                    <i class="icon ion-ios-loop" ng-hide="loader"></i>&nbsp;&nbsp;&nbsp;Dhaka MetroGa 12-2131<span>0.4 Km</span>
                </button>
                <button class="button button-block button-dark passenger_pickup_point-button-list-2">
                    <ion-spinner icon="crescent" ng-show="loader"></ion-spinner>
                    <i class="icon ion-ios-loop" ng-hide="loader"></i>&nbsp;&nbsp;&nbsp;Dhaka MetroGa 12-2131<span>0.4 Km</span>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
