<ion-view view-title="Login">
    <ion-content style="background-color: #FFC700">

        <div class="container passenger_login">
            <div class="text-center">
                <img src="img/trans-logo.png">
                <h1>AmarTaxi</h1>
                <h4>Driver Login</h4>
            </div>

            <div class="padding passenger_login-button">

                <label class="item item-input passenger_login-button-name">
                    <input type="text" class="form-control text-center" placeholder="{{'Mobile' | translate}}" ng-model="driver.mobile">
                </label>
                <label class="item item-input passenger_login-button-name">
                    <input type="password" class="form-control text-center" placeholder="{{'Password' |translate}}" ng-model="driver.password">
                </label>

                <div class="submit">
                    <button class="button button-block button-dark " ng-click="driverLogin(driver)">{{'Login' | translate}}</button>
                </div>

                <div class="row">
                    <div class="col"><a ui-sref="driver_register">{{'Register' | translate}}</a></div>
                    <div class="col"><a ng-click="registerXmpp(driver)" class="pull-right">{{'Forgot Password' | translate}}</a></div>
                </div>
                <div class="row">
                    <div class="col"><a ui-sref="passenger_login">{{'Are you a passenger?' | translate}}</a></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
