<ion-view view-title="Amar Taxi">
    <ion-content style="background-color: #F9ED23">
        <div class="container driver_home">
            <div class="passenger_login-button  padding">

                <label class=" item-input pickup-label"><h3>Status: {{driver_status}}</h3></label>
                <button class="button button-block button-dark" ng-click="changeMyPresence('available')">
                        Waiting For Booking
                    </button>
                    <button class="button button-block button-dark" ng-click="changeMyPresence('busy')">
                        Booked
                    </button>
                    <button class="button button-block button-dark" ng-click="changeMyPresence('unavailable')">
                    Off Duty
                    </button>
                    <!--<button class="button button-block button-dark" ng-click="reload()">-->
                        <!--$route.reload();-->
                    <!--</button>-->
                  </div>
         </div>
    </ion-content>
</ion-view>
