<ion-view view-title="Ride History">
    <ion-content style="background-color: #333">
        <div class="container passenger_driver_responded">


            <div class="text-center">Riding List</div>

            <div class="passenger_pickup_point-button-list">

                <button ng-repeat="ride in rides" class="button button-block button-dark passenger_pickup_point-button-list-2" ui-sref="app.driver_riding_details({booking_id: ride.id})">
                    <!--<ion-spinner icon="crescent" ng-show="loader"></ion-spinner>-->
                    <!--<i class="icon ion-ios-loop" ng-hide="loader"></i>-->
                    &nbsp;&nbsp;&nbsp;{{ride.pickup_point_name}} to {{ride.destination_point_name}}<span>0.4 Km</span>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
