<!--<ion-view view-title="Drivers Responded">-->
    <!--<ion-content style="background-color: #333">-->
        <!--<div class="container passenger_driver_responded">-->



            <!--<h3>Ride details</h3>-->
            <!--{{booking}}-->
        <!--</div>-->
    <!--</ion-content>-->
<!--</ion-view>-->
<ion-view view-title="Ride Details">
    <ion-content>
        <div class="list card">

            <div class="item item-avatar">
                <img src="mcfly.jpg">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="delorean.jpg">

                <label class="item item-input">
                    <span class="input-label">Pickup Point</span>
                    {{booking.pickup_point_name}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Destination Point</span>
                    {{booking.destination_point_name}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Ride Type</span>
                    {{booking.ride_type}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Passenger Note</span>
                    <p>{{booking.passenger_note}}</p>
                </label>

                <label class="item item-input">
                    <span class="input-label">Driver name</span>
                    {{booking.driver.name}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Rating</span>
                    <!--<span ng-show="booking.rating" class="input-label">{{booking.rating}}</span>-->
                    <rating ng-show="booking.rating" ng-model="booking.rating" max=5 readonly=true  on-leave="overStar = null"></rating>
                    <span ng-show="!booking.rating" class="input-label">Not set!</span>

                    <!--<span ng-if="!booking.rating">-->
                        <!--<button class="button button-small button-balanced" ng-click="rateDriver()">-->
                            <!--Rate Driver-->
                        <!--</button>-->
                    <!--</span>-->
                </label>
                <div ng-if="!booking.is_active">
                    <label class="item item-input">
                        <span class="input-label">Status</span>
                        <span ng-show="booking.is_cancelled" class="assertive">Ride cancel by {{booking.cancelBy}}</span>
                        <span ng-show="booking.is_complete" class="calm">Ride complete by {{booking.completeBy}}</span>
                    </label>

                </div>

                <div ng-if="booking.is_active">
                    <label class="item item-input">
                        <span class="input-label">Status</span>
                        Active
                    </label>
                    <label class="item item-input">
                        <span class="input-label"></span>
                    <span ng-if="!booking.is_cancelled">
                        <button class="button button-small button-assertive" ng-click="cancelRide()">
                            Cancel my ride
                        </button>
                    </span>
                    </label>
                    <label class="item item-input">
                        <span class="input-label"></span>
                    <span ng-if="!booking.is_complete">
                        <button class="button button-small button-calm" ng-click="completeRide()">
                            Complete my ride
                        </button>
                    </span>
                    </label>
                </div>








                <!--<p>-->
                <!--<a href="#" class="subdued">1 Like</a>-->
                <!--<a href="#" class="subdued">5 Comments</a>-->
                <!--</p>-->
            </div>

            <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
            <!--<a class="tab-item" href="#">-->
            <!--<i class="icon ion-thumbsup"></i>-->
            <!--Like-->
            <!--</a>-->
            <!--<a class="tab-item" href="#">-->
            <!--<i class="icon ion-chatbox"></i>-->
            <!--Comment-->
            <!--</a>-->
            <!--<a class="tab-item" href="#">-->
            <!--<i class="icon ion-share"></i>-->
            <!--Share-->
            <!--</a>-->
            <!--</div>-->

        </div>
        <!--<h3>Ride details</h3>-->
        <!--{{booking}}-->

    </ion-content>
</ion-view>

