/* Empty. Add your own CSS if you like */
/*For ion-header-bar change */
[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #F9ED23;
    border: none;
}

.spinner svg {
    width: 28px;
    height: 28px;
    stroke: #fff;
    fill: #444;
}

/*For ion-header-bar change End*/
.sideMenu {
    background: #2D2C31;
}
.sideMenu .item-icon-left {
    border-color: #555;
}

.fullheight-width {
    height: 70%;
    width: 100%;
}

.angular-google-map-container {
    height: 1100px;
    width: 100%;
}

.bottom-div {
    position: fixed;
    /*height: 100%;*/
    /*bottom: 10px;*/
    width: 100%;
}

.scroll {
    height: 100%;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

/*Passenger_register start*/
.passenger_register-header {
    height: 50px;
    background: #FFC700;
    margin-bottom: 25px;
}

/*.passenger_register-button {*/
/*/!*margin-right: 75px;*!/*/
/*/!*margin-left: 75px;*!/*/
/*}*/

/*.passenger_register-button-name {*/
/*border-radius: 25px;*/
/*margin-bottom: 8px;*/
/*margin-top: 27px;*/
/*}*/
/*.passenger_register-button-mobile {*/
/*border-radius: 25px;*/
/*margin-bottom: 8px;*/
/*}*/
/*.passenger_register-button-email {*/
/*border-radius: 25px;*/
/*margin-bottom: 8px;*/
/*}*/
/*.passenger_register-button-password {*/
/*border-radius: 25px;*/
/*margin-bottom: 8px;*/
/*}*/
/*.passenger_register-button .button {*/
/*line-height: 0 !important;*/
/*font-size: 100%;*/
/*}*/
/*.passenger_register-button-login {*/
/*border: none;*/
/*/!*background-color: #383717 !important;*!/*/
/*border-radius: 25px;*/
/*height: 25%;*/
/*}*/
.passenger_register-button-facebook {
    border: none;
    /*background-color: #4255A5 !important;*/
    border-radius: 25px;
}

.passenger_register-button-google {
    border: none;
    /*background-color: #4255A5 !important;*/
    border-radius: 25px;
}

/*Passenger_register End*/

/*Passenger_login*/
.passenger_login {
    background: #FFC700;
    height: 100%;
    padding-top: 70px;
}

.passenger_login .scroll-content {
    background-color: #F9ED23 !important;
}

.passenger_login img {
    width: 140px;
}

.passenger_login-button .passenger_login-button-img {
    width: 25px;
}

.passenger_login h1 {
    margin-top: 0px;
}

.passenger_login-button {
    /*margin-right: 75px;*/
    /*margin-left: 75px;*/
    margin-top: 30px;
}

.passenger_login-button-name {
    /*border-radius: 25px;*/
    /*margin: 0 20px 10px 20px;*/
    margin: 10px 0;
}

.passenger_login-button-password {
    border-radius: 25px;
}

.passenger_login .button {
    line-height: 0 !important;
    font-size: 100%;
}

.passenger_login-button-login {
    /*border: none;*/
    /*background-color: #FC0619 !important;*/
    /*border-radius: 25px;*/
    /*margin: 0 20px 10px 20px;*/
    margin: 100px auto;
}

.passenger_login-button-register {

/ / border : none;
    /*background-color: #3F3F3B !important;*/
/ / border-radius : 25 px;
}

/*Passenger_login End*/

/*driver_login Start*/
.driver_login {
    background: #FFC700;
    height: 100%;
    padding-top: 35px;
}

.driver_login img {
    width: 120px;
}

.driver_login h1 {
    margin-top: 0px;
}

.driver_login button {
    line-height: 0 !important;
    font-size: 100%;
}

.driver_login .passenger_login-button-register {
    border: none;
    /*background-color: #057C27 !important;*/
    border-radius: 25px;
}

/*driver_login End*/

/*passenger_home Start*/

.passenger_home {
    text-align: center;
}

.passenger-map {
    /*height: inherit;*/
}

.content-overflow {
    bottom: 300px;
    top: 0;
}

.passenger_home .geolocation {
    /*position: absolute;*/
    /*bottom: 52%;*/
    width: 26px;
    /*right: 5%;*/
    /*z-index: 100;*/
}

.passenger_home .pickup-point {
    /*border-radius: 25px;*/
    /*border: none;*/
    /*margin-left: 8%;*/
    /*margin-right: 8%;*/
    /*margin-bottom: 0.7%;*/
    /*opacity: 0.8;*/
    background-color: #242424;
    height: 56px;
    position: relative;
}

.passenger_home .pickup-label {
    border-top: 2px solid;
    background-color: #242424;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0 2px 16px;
    width: 100% !important;
}
.driver_home .status-label {
    /*border-top: 2px solid;*/
    /*background-color: #242424;*/
    color: #242424;
    font-size: 18px;
    font-weight: bold;
    /*padding: 8px 0 2px 16px;*/
    /*width: 100% !important;*/
}
.passenger_home .pickup-label h3{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.icon-pull-right {
    position: absolute;
    right: 0px;
    font-size: 30px;
    top: -3px;
}
.button.button-pull-right {
    position: absolute;
    right: 0px;
    padding: 1px 13px;
    margin: 8px 15px 0px 0px;
}
.button.button-light-green{
    border-color: #90C400;
    background-color: #90C400;
    color: #fff;
    font-weight: bold;
}
.button.button-pull-right.active,
.button.button-pull-right.activated {
    border-color: #84AF0C;
    background-color: #84AF0C;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}
.location-label {
    background-color: #666;
    color: #fff;
    font-weight: 400; /*height: 56px;*/
}

.passenger_home .pickup-point-next-div .pickup-point-next {
    /*border-radius: 25px;*/
    border: none;
    line-height: 1;
    margin-top: 0px;
}

/*.passenger_home .pickup-point .pickup-point-next:hover {*/
/*color: #003eff;*/
/*}*/
.passenger_home .pickup-point input {
    background-color: #333333;
    color: #fff;
}

.passenger_home .pickup-point-icon {
    margin-right: 20px;
    /*width: 20px;*/
}

.passenger_home section {
    background-color: #5B5B5B;
}

.passenger_home .car1 {
    border: none;
    /*border-radius: 25px;*/
    /*width: 124px;*/
    /*height: 60px;*/
    background-color: transparent;
    /*opacity: 0.8;*/
}

.passenger_home .car1-img {
    /*width: 46px;*/
}

.passenger_home .car1-img1 {
    /*opacity: 0.7 !important;*/
    /*margin-right: 0px;*/
    width: 30px;

}

/*passenger_home End*/

/*sideMenu Start*/

.sideMenu .sideMenu-header-img {
    width: 120px;
    margin-top: 24px;
}

.sideMenu h1 {
    color: #D8E022;
    margin-top: 0;
}

.sideMenu .list {
    /*color: #003147;*/
}

.sideMenu .list .list-item {
    border-top: none;
}

.sideMenu .list .item {
    background-color: #2D2C31;
    color: #fff;
    font-weight:bold;
    font-size: 19px;
}

.sideMenu .list .item img {
    margin-right: 10px;
}

/*sideMenu End*/

/*driver_home Start*/

.driver_home {
    background: #F9ED23;
    height: 100%;
    padding-top: 70px;
}

.driver_home .driver_home-button {
    border: none;
    /*background-color: #535111 !important;*/
    border-radius: 25px;
    /*color: #7EC242;*/
    /*font-size: 22px;*/
}

/*driver_home End*/

/*passenger_pickup_point Start*/
.passenger_pickup_point {
    background: #242424;
    height: 100%;

}

.passenger_pickup_point-button {
    margin-top: -12px;
}

.passenger_pickup_point-button .passenger_pickup_point-button-favourite {
    background-color: #DDD82C;
    font-size: 100%;
    /*border: 2px solid #3F3F3B;*/
}

.passenger_pickup_point-button .passenger_pickup_point-button-search {
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/
    margin-top: -7px;
    border-radius: 25px;
    font-size: 100%;
}

.passenger_pickup_point-button .passenger_pickup_point-button-search button {
    text-align: justify;
    background-color: #1C1D19;
    border-radius: 25px;
    height: 53px;
    border: none;
}

.passenger_pickup_point .passenger_pickup_point-button-list {
    /*margin-right: 20px;*/
    /*margin-left: 20px;*/
    margin-top: -4px;
}

.passenger_pickup_point .passenger_pickup_point-button-list button {
    text-align: justify;
}

.passenger_pickup_point .passenger_pickup_point-button-list .passenger_pickup_point-button-list-1 {
    background-color: #797D12;
    border: none;
    margin-bottom: -8px;
}

.passenger_pickup_point .passenger_pickup_point-button-list .passenger_pickup_point-button-list-2 {
    background-color: #1C1D19;
    margin-bottom: -6px;
    border: none;
}

.passenger_pickup_point .passenger_pickup_point-button-list .passenger_pickup_point-button-list-2 span {
    float: right;
}

.passenger_pickup_point .pickup-point {
    border-radius: 25px;
    margin-bottom: 0.7%;
    opacity: 0.8;
    background-color: #333333;
}

.passenger_pickup_point .pickup-point .pickup-point-select {
    text-align: center;
    border-radius: 25px;
    border: none;
    line-height: 1;
}

.passenger_pickup_point .pickup-point .pickup-point-select:hover {
    color: #003eff;
}

.passenger_pickup_point .pickup-point input {
    background-color: #333333;
    color: #fff;
}

/*passenger_pickup_point-button End*/

/*Driver_contact_passenger Start*/
.driver_contact_passenger {
    background-color: #333;
    height: 100%;
}

.driver_contact_passenger .passenger_pickup_point-button-list {
    padding-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.driver_contact_passenger .passenger_pickup_point-button-list .passenger_pickup_point-button-list-2 {
    background-color: #000;
    /*margin-bottom: -6px;*/
    border: none;
    text-align: justify;
}

.driver_contact_passenger .passenger_pickup_point-button-list .passenger_pickup_point-button-list-2 span {
    float: right;
}

/*Driver_contact_passenger End*/

/*passenger_driver_responded Start*/
.passenger_driver_responded {
    background-color: #333;
    height: 100%;
}

.passenger_driver_responded .text-center {
    padding-top: 50px;
    margin-bottom: -10px;
    color: #fff;
}

.passenger_driver_responded .passenger_pickup_point-button-list {
    padding-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.passenger_driver_responded .passenger_pickup_point-button-list .passenger_pickup_point-button-list-2 {
    background-color: #2D2C7B;
    /*margin-bottom: -6px;*/
    border: none;
    text-align: justify;
}

.passenger_driver_responded .passenger_pickup_point-button-list .passenger_pickup_point-button-list-2 span {
    float: right;
}

/*passenger_driver_responded End*/

/*passenger_track_driver Start*/
.passenger_track_driver {
    background: #fff;
    height: 100%;
    padding-top: 70px;
}

.passenger_track_driver map {
    height: 100%;
}

.passenger_track_driver .block {
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    margin-top: -6px;
    overflow: hidden;
}

.passenger_track_driver .block .block-1 {
    position: relative;
    top: 12px;
    left: 15px;
}

.passenger_track_driver .block .block-2 {
    position: relative;
    float: right;
    top: -36px;
    right: 10px;
}

.passenger_track_driver .block .block-2 .span-top {
    color: #7EC242;
}

.passenger_track_driver .block .block-2 .span-bottom {
    color: #D6DF23;
}

.passenger_track_driver .block-two-top {
    background-color: #E6CFD5;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    height: 56px;
    padding: 4px;
}

.passenger_track_driver .block-two-bottom {
    background-color: #E6CFD5;
    margin-right: 20px;
    margin-left: 20px;
    padding: 7px;
}

.passenger_track_driver img {
    text-align: center;
}

.passenger_track_driver .driver_home-button {
    border: none;
    background-color: #2F302D !important;
    border-radius: 25px;
    color: #7EC242;
    font-size: 22px;
    opacity: 0.7;
}

/*passenger_track_driver End*/

/*passenger_find_driver start*/
.passenger_find_driver {
    background: #fff;
    height: 100%;
    /*padding-top: 70px;*/
}

.passenger_find_driver map {
    height: 100%;
}

.passenger_find_driver marker {

}

.passenger_find_driver .block {
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    margin-top: -6px;
    overflow: hidden;
}

.passenger_find_driver .block .block-1 {
    position: relative;
    top: 12px;
    left: 15px;
}

.passenger_find_driver .block .block-2 {
    position: relative;
    float: right;
    top: -36px;
    right: 10px;
}

.passenger_find_driver .block .block-2 .span-top {
    color: #7EC242;
}

.passenger_find_driver .block .block-2 .span-bottom {
    color: #D6DF23;
}

.passenger_find_driver .input-block {
    margin-left: 3%;
    margin-right: 3%;
}

.passenger_find_driver .block-two-top {
    background-color: #E6CFD5;
    margin-bottom: 5px;
    margin-top: 10px;
    height: 56px;
    padding: 12px;
    width: 100%;
}

.passenger_find_driver .block-two-bottom {
    background-color: #E6CFD5;
    padding: 12px;
    width: 100%;
}

.passenger_find_driver .passenger_login-button {
    margin-top: 30px;
}

.passenger_find_driver .driver_home-button {
    border: none;
    background: #535111;
    /*background-color: #535111 ;*/
    border-radius: 25px;
    /*color: #7EC242;*/
    font-size: 100%;
    line-height: 0 !important;
}

/*passenger_find_driver End*/

/*driver_message_received start*/
.passenger_find_driver .driver-message-received-block-two-top {
    background-color: #775761;
    color: #ffffff;
    margin-bottom: 5px;
    margin-top: 10px;
    height: 56px;
    padding: 12px;
    width: 100%;
}

/*driver_message_received End*/

/*settings start*/
.settings {
    background-color: #444444;
    height: 100%;
    margin-top: -10px;
}

.settings .submit {
    margin-left: 7%;
    margin-right: 7%;
}

.settings .button {
    background-color: #444444;
    border: none;
    padding-top: 40px;
}

.settings .button-profile {
    margin-bottom: -40px;
}

.settings .button-language {
    margin-bottom: -40px;
}

.settings .settings-button-profile {
    color: #fff;
    text-align: left;
}

.settings .settings-button-language {
    color: #fff;
    text-align: left;
}

.settings .settings-button-language span {
    float: right;
    position: relative;
    top: 2px;
    right: 10px;
}

.settings .settings-button-password {
    color: #fff;
    text-align: left;
}

/*settings End*/

/*profile Start*/
.edit-profile {
    margin-top: 8%;
}

/*.edit-profile .edit {*/
/*padding-left: 20px;*/
/*font-size: 22px;*/
/*}*/
.edit-profile .edit-profile-name {
    margin-bottom: 30px;
}

.edit-profile .edit-profile-mobile {
    margin-bottom: 30px;
}

.edit-profile .edit-profile-email {
    margin-bottom: 30px;
}

.edit-profile strong {
    color: blueviolet;
    margin-left: 30px;
}

.edit-profile span {
    margin-left: 20px;
}

.edit-profile .edit-profile-password {
    margin-bottom: 30px;
}

/*profile End*/
.my-modal ion-content{
    background-color: #F1F1F1;
}
.my-modal.modal ion-header-bar{
    background-color: #FFC700 ;
}
.my-modal.modal ion-footer-bar{
    background-color: #242424 ;
}

.contact-support {
    border: 1px solid #5D5D5D;
    border-bottom-left-radius: 246px;
    border-top-right-radius: 246px;
    /*border-top-left-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
    padding: 20px;
    margin: 15px;
    font-family: "Helvetica Neue";
    background-color: #5B5B5B;
    /*box-shadow: 1px 1px 5px 3px #888888;*/
}

.contact-support h5 {
    color: #ffffff;
    font-weight: bold;
    line-height: 2.5em;
}

/*language button start*/

/*.btn-language-bn{*/
/*font-size:10px;*/
/*margin-top: 12px;*/
/*border: medium none;*/
/*padding: 3px;*/
/*margin-right: 7px;*/
/*background: none repeat scroll 0% 0% lightgreen;*/
/*color: green;*/
/*}*/

/*language button end*/

/*Loader 1 Start*/
.loading-container .loading {
    width: 100%;
    height: 100%;
    /*opacity: 0.7;*/
}

.loader-waiting {
    margin-top: 10%;
}

.spinner {
    margin: 157px auto;
    width: 32px;
    height: 32px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #4886f9;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: cubemove 1.8s infinite ease-in-out;
    animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

/*Loader 1 End*/
/*actionsheet start*/
.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.platform-android .action-sheet {
    margin: 0;
}

.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
    text-align: left;
    border-color: transparent;
    font-size: 16px;
    color: inherit;
}

.platform-android .action-sheet .action-sheet-title {
    font-size: 14px;
    padding: 16px;
    color: #666;
}

.platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
    background: #e8e8e8;
}

.platform-android .action-sheet-group {
    margin: 0;
    border-radius: 0;
    background-color: #fafafa;
}

.platform-android .action-sheet-cancel {
    display: none;
}

.platform-android .action-sheet-has-icons .button {
    padding-left: 56px;
}

/*actionsheet end*/
.icon-left {
    float: left;
}

.icon-right {
    float: right;
}

.fixed-icon {
    top: 118px;
    left: 174px;
    z-index: 10;
    position: absolute;
}

.button-bar.setting-bar {
    padding: 10px;
}

.bar.bar-mybar {
    background-color: #FFC700 !important;
}